.container-fluid{
    width: 100%;
}
.header .container{
    max-width: 100%;
    height: 100px;
    margin: auto;
}
.d-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.gap-x-1{
    column-gap: 20px;
}
.section .container{
    max-width: 100%;
    height: 100vh;
    margin: auto;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: calc((100% / 12) * 1);
    padding: 8px;
    box-sizing: border-box; 
}
.col-2{
    width: calc((100% / 12) * 2);
    padding: 8px;
    box-sizing: border-box; 
}
.col-3{
    width: calc((100% / 12) * 3);
    padding: 8px;
    box-sizing: border-box;
}
.col-4{
    width: calc((100% / 12) * 4);
    padding: 8px;
    box-sizing: border-box; 
}
.col-6{
    width: calc((100% / 12) * 6);
    padding: 8px;
    box-sizing: border-box; 
}
.col-12{
    width: calc((100% / 12) * 12);
    padding: 8px;
    box-sizing: border-box; 
}
